{% extends "page.html" %}

{% block page_content %}
    <h1 id="skills"><span>Some</span> skills</h1>
    <section class="skills">
        <h2 class="icon-title">Software:</h2>
        <p>
            <span class="photoshop" title="Photoshop">Photoshop</span><span class="sep">,</span>
            <span class="illustrator" title="Illustrator">Illustrator</span><span class="sep">,</span>
            <span class="indesign" title="InDesign">InDesign</span><span class="sep">,</span>
            <span class="experience-design" title="Experience Design">Experience Design</span><span class="sep">,</span>
            <span class="dreamweaver" title="Dreamweaver">Dreamweaver</span><span class="sep">,</span>
            <span class="muse" title="Muse">Muse</span>
        </p>
        <h2>Additional:</h2>
        <p>Sketch, Craft/Invision, UXPin, HTML, CSS, <br />Wordpress, Hubspot</p>
        <h2>Languages:</h2>
        <p>Polish, English</p>
        <h2>Interests:</h2>
        <p>Design, Architecture, Photography, <br />Cooking, Comic Books, Video Games</p>
    </section>

    <h1 id="design-experience"><span>Design</span> experience</h1>
    <section class="design-experience">
    </section>

    <h1 id="lets-talk"><span>Let's</span> talk</h1>
    <section class="contact">

    </section>
{% endblock %}