{% extends "page.html" %}

{% block page_content_inner %}
    <h1 id="case-studies"><span>Case</span> studies</h1>
{% endblock %}

{% block post_article %}
    <section class="case-studies-grid">
        <div class="marketing-automation">
            <a class="marketing-automation" href="/case-studies/marketing-automation.html">
                <span class="title">Marketing automation</span>
            </a>
        </div>
         <div class="gdpr-friendly-control-site">
            <a class="gdpr-friendly-control-site" href="/case-studies/gdpr-friendly-control-site.html">
                <span class="title">GDPR Friendly Control Site</span>
            </a>
        </div>
        <div class="interior-revitalisation-catalogue">
            <a class="interior-revitalisation-catalogue" href="/case-studies/interior-revitalisation-catalogue.html">
                <span class="title">Interior Revitalisation Catalogue</span>
            </a>
        </div>
        <div class="eco-friendly-branding">
            <a class="eco-friendly-branding" href="/case-studies/eco-friendly-branding.html">
                <span class="title">Branding for eco-friendly travel agency "Eco-Tour"</span>
            </a>
        </div>
        <div class="black-bx-rebrand">
             <a class="black-bx-rebrand" href="/case-studies/black-bx-rebrand.html">
                <span class="title">BLACKBX rebrand to Stampede</span>
            </a>
        </div>
    </section>
{% endblock %}