{% extends "page.html" %}

{% block page_content_inner %}
    <h1 id="case-studies"><span>Case</span> studies</h1>
{% endblock %}

{% macro entry(className, link, title, focus) -%}
    <div class="{{ className }}">
        <a class="{{ className }}" href="{{ link }}">
            <span class="title">{{ title|safe }}</span>
            <span class="focus">{{ focus|safe }}</span>
            <div data-direction="next">
                <span class="label">View Case Study</span>
                <span class="a"></span>
            </div>
        </a>
    </div>
{%- endmacro %}

{% block post_article %}
    <section class="case-studies-grid">
        {{ entry("marketing-automation", "/case-studies/marketing-automation.html", "Marketing automation") }}
        {{ entry("gdpr-friendly-control-site", "/case-studies/gdpr-friendly-control-site.html", "GDPR Friendly Control Site") }}
        {{ entry("interior-revitalisation-catalogue", "/case-studies/interior-revitalisation-catalogue.html", "Interior Revitalisation Catalogue") }}
        {{ entry("eco-friendly-branding", "/case-studies/eco-friendly-branding.html", 'Branding for eco-friendly travel agency "Eco-Tour"') }}
        {{ entry("black-bx-rebrand", "/case-studies/black-bx-rebrand.html", 'BLACKBX rebrand to Stampede') }}
        {{ entry("shooting-society", "/case-studies/shooting-society.html", 'Shooting Society Logo') }}
    </section>
{% endblock %}