{% extends "page.html" %}

{% block page_content %}
    <h1 id="other-projects"><span>Other projects</span> gallery</h1>
{% endblock %}

{% block post_article %}
     <section class="portfolio-grid">
        <div class="rpz">
            <a class="rpz" href="/portfolio/rpz.html">
                <span class="title">RPZ Brand</span>
                <span class="focus">Packaging, Brand, Print, Photo Manipulation</span>
            </a>
        </div>
         <div class="photo-manipulation">
            <a class="photo-manipulation" href="/portfolio/photo-manipulation.html">
                <span class="title">Photo Manipulation</span>
                <span class="focus">Photo Manipulation</span>
            </a>
        </div>
        <div class="kurczaki">
            <a class="kurczaki" href="/portfolio/kubus.html">
                <span class="title">Kurczaki &ndash; logo and game interface mockup</span>
                <span class="focus">Logo, UI</span>
            </a>
        </div>
        <div class="aloe-live">
            <a class="aloe-live" href="/portfolio/package.html">
                <span class="title">Aloelive Packaging</span>
                <span class="focus">Packaging, Brand, Print, Photo Manipulation</span>
            </a>
        </div>
        <div class="oodls">
             <a class="oodls" href="/portfolio/oodls.html">
                <span class="title">Oodls Brand</span>
                <span class="focus">Brand, Logo, UI</span>
            </a>
        </div>
        <div class="wbs">
            <a class="wbs" href="/portfolio/waterbysun.html">
                <span class="title">Water by Sun Brand</span>
                <span class="focus">Brand, Logo, Print, Web, Photo Manipulation</span>
            </a>
        </div>
        <div class="photography">
            <a class="photography" href="/portfolio/photography.html">
                <span class="title">Photography</span>
                <span class="focus">Photography + edits</span>
            </a>
        </div>
        <div class="illustration">
            <a class="illustration" href="/portfolio/illustration.html">
                <span class="title">Illustration</span>
                <span class="focus">Vector Graphics</span></a>
        </div>
        <div class="web">
            <a class="web" href="/portfolio/web.html">
                <span class="title">Web Design</span>
                <span class="focus">Web, Digital, UI</span>
            </a>
        </div>
        <div class="logos">
            <a class="logos" href="/portfolio/logos.html">
                <span class="title">Logos</span>
                <span class="focus">Brand, Logo</span></a>
        </div>
        <div class="kwk">
            <a class="kwk" href="/portfolio/kwk.html">
                <span class="title">KWK Symposium</span>
                <span class="focus">Brand, Print</span>
            </a>
        </div>
    </section>
{% endblock %}