html {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #6B00E9 url(../img/backgrounds/face.png) top right no-repeat;
    background-size: 850px auto;
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
}

nav.main{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #6B00E9 url(../img/backgrounds/face.png) top right no-repeat;
    background-size: 850px auto;
    z-index: 20;
}
nav.main .inner{
    background-color: transparent;
    transition: background-color 0.5s, background-image 0.5s;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
}

nav.main.fiddle{
    visibility: hidden;
    position: relative;
    z-index: -20;
}
nav.main.portfolio{
    background: transparent;
}
nav.main.alt .inner{
    background-color: #fff;
}

nav.main ul{
    display: grid;
    grid-template-columns: 115px 100px 120px 120px;
    grid-template-rows: 120px;
    width: auto;
}
nav.main ul li {
    display: block;
}
nav.main ul li a {
    display: block;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 115px;
    text-align: center;
}
nav.main ul li.home a{
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/logo_trans.png) center center no-repeat;
    background-size: contain;
}
nav.main.portfolio ul li a,
nav.main.alt ul li a{
    color: #000000;
}
nav.main.portfolio ul li.home a,
nav.main.alt ul li.home a{
    background-image:  url(../img/logo.png);
}

header.intro {
    background: transparent url(../img/backgrounds/header.svg) bottom -1px left repeat-x;
    padding-bottom: 180px;
}
.title-text{
    width: 70%;
    margin: 0 auto;
    padding: 20px 20px 100px;
    box-sizing: border-box;
}
.title-text h1{
    margin: 0;
    padding: 30px 0 30px;
    color: #fff;
    text-align: left;
    font-size: 35pt;
    letter-spacing: 0.01em;
}
.title-text p{
    width: 65%;
    color: #B3A9EB;
    font-size: 20px;
    margin: 1.2em 0;
}

h1 {
    color: #6913E0;
    text-align: center;
    font-size: 35pt;
    font-weight: normal;
    line-height: 1.2;
    padding: 110px 0 50px;
    margin: 0;
}
h1 strong {
    font-weight: bold;
}
h1::before {
  display: block;
  content: " ";
  margin-top: -200px;
  height: 200px;
  visibility: hidden;
  pointer-events: none;
}
p.section-header {
    text-align: center;
}

section{
    background-color: #fff;
}

@keyframes pulse {
    50% {
        background: rgb(107,0,233);
    }
}

.loading-pulse {
    position: relative;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 24px;
    background: rgba(107,0,233,0.2);
    animation: pulse 750ms infinite;
    animation-delay: 250ms;
}
.loading-pulse:before,
.loading-pulse:after {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgba(107,0,233,0.2);
    top: 50%;
    transform: translateY(-50%);
    animation: pulse 750ms infinite;
}
.loading-pulse:before {
    left: -12px;
}
.loading-pulse:after {
    left: 12px;
    animation-delay: 500ms;
}

/* TIMELINE */
ul.timeline-links {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    grid-gap: 20px;
}

ul.timeline-links li {
    grid-row: 1;
    display: block;
    box-sizing: border-box;
}

ul.timeline-links li a{
    color: #000;
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #dedede;
    border-radius: 350px;
    transition: background 0.5s ease;
}

ul.timeline-links li a.work{
    border: 2px solid #6900E3;
}
ul.timeline-links li a.internship{
    border: 2px solid #2EF1D1;
}
ul.timeline-links li a.study{
    border: 2px solid #FFE98F;
}

ul.timeline-links li a.work.on{
    background: #6900E3;
}
ul.timeline-links li a.internship.on{
    background: #2EF1D1;
}
ul.timeline-links li a.study.on{
    background: #FFE98F;
}

div.timeline div.text-version {
    display: none;
}
div.timeline {
    margin: 0 auto;
    width: 98%;
    padding-bottom: 50px;
    box-sizing: border-box;
}

div.timeline .inner {
    position: relative;
}

div.timeline .base,
div.timeline .over {
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../img/timeline10.png);
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 16.7583333%;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1.0;
    transition: filter 0.5s ease, opacity 0.5s ease;
}
div.timeline .over {
    position: absolute;
    top: 0;
    z-index: 2;
}
div.timeline .over.off {
    opacity: 0;
}

div.timeline .base.grey {
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   opacity: 0.1;
   transition: filter 0.5s ease, opacity 0.5s ease;
 }

/* SKILLS */

section.skills {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.skills span {
    text-indent: -9999px;
    overflow: hidden;
    height: 64px;
    width: 64px;
    white-space: nowrap;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.skills span.sep {
    display: none;
}
.skills span.photoshop {
    background-image: url(../img/icons/ps.png);
}
.skills span.illustrator {
    background-image: url(../img/icons/ai.png);
}
.skills span.indesign {
    background-image: url(../img/icons/id.png);
}
.skills span.experience-design {
    background-image: url(../img/icons/xd.png);
}
.skills span.dreamweaver {
    background-image: url(../img/icons/dw.png);
}
.skills span.muse {
    background-image: url(../img/icons/mu.png);
}

/* porfolio */
.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 15px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.portfolio-grid::before {
  content: '';
  width: 0;
  padding-bottom: 75%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.portfolio-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.portfolio-grid div {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.portfolio-grid div.eco-tour {
    background-image: url(../img/portfolio/grid/ecotour_min.png);
    grid-row: 1 / 3;
    grid-column: 1 / 1;
}
.portfolio-grid div.gefion {
    background-image: url(../img/portfolio/grid/gefion_min.png);
}
.portfolio-grid div.blackbx {
    background-image: url(../img/portfolio/grid/blackbx_min.png);
}
.portfolio-grid div.package {
    background-image: url(../img/portfolio/grid/package_min.png);
}
.portfolio-grid div.balkan {
    background-image: url(../img/portfolio/grid/balkan_min.png);
}
.portfolio-grid div.photo-manipulation {
    background-image: url(../img/portfolio/grid/photomanip_min.png);
    grid-row: 3 / 3;
    grid-column: 1 / 3;
}
.portfolio-grid div.kurczaki {
    background-image: url(../img/portfolio/grid/kurczaki_min.png);
}
.portfolio-grid div.kotlownia {
    background-image: url(../img/portfolio/grid/kotlownia_min.png);
}
.portfolio-grid div.rpz {
    background-image: url(../img/portfolio/grid/rpz_min.png);
    grid-row: 2 / 2;
    grid-column: 2 / 4;
}
.portfolio-grid div.tere-fere {
    background-image: url(../img/portfolio/grid/terefere_min.png);
}
.portfolio-grid div.wbs {
    background-image: url(../img/portfolio/grid/wbs_min.png);
}
.portfolio-grid div.photography {
    background-image: url(../img/portfolio/grid/photo_min.png);
    grid-row: 5 / 5;
    grid-column: 2 / 4;
}
.portfolio-grid div.illustration{
    background-image: url(../img/portfolio/grid/illustrations_min.png);
}
.portfolio-grid div.print {
    background-image: url(../img/portfolio/grid/poster_min.png);
    grid-row: 6 / 8;
    grid-column: 2 / 2;
}
.portfolio-grid div.logos{
    background-image: url(../img/portfolio/grid/logos_min.png);
}
.portfolio-grid div.kwk {
    background-image: url(../img/portfolio/grid/kwk_min.png);
}
.portfolio-grid div.web {
    background-image: url(../img/portfolio/grid/web_min.png);
}
.portfolio-grid .title {
    /*margin: 80% 0 0;*/
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
}
.portfolio-grid a {
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 37.5%;
    text-align: center;
    text-indent: -9999px;
    transition: background-color 0.5s;
    box-sizing: border-box;
}
.portfolio-grid a:hover {
    text-indent: 0;
    background-color: rgba(105, 19, 224, 0.8);
    transition: background-color 0.5s;
}

/* Contact */
section.contact h1 {
    padding-top: 200px;
    background: url(../img/contact.png) top 100px center no-repeat;
}
ul.contact {
    text-align: center;
}
ul.contact a {
    display: block;
}
ul.contact a.email {
    text-align: center;
    font-size: 29pt;
    color: #5FF5DC;
    text-decoration: none;
}
ul.contact li.social {
    display: inline-block;
}
ul.contact li.social a {
    text-indent: -9999px;
    overflow: hidden;
    margin: 40px 20px;
    display: block;
    height: 64px;
    width: 64px;
}
ul.contact li.be a {
    background: url(../img/icons/behance.png) center center no-repeat;
}
ul.contact li.insta a {
    background: url(../img/icons/instagram.png) center center no-repeat;
}
ul.contact li.linkedin a {
    background: url(../img/icons/linked.png) center center no-repeat;
}

@media only screen and (max-width: 640px){
    header.intro{
        sbackground-size: 25% auto;
    }

    nav.main.portfolio{
        background-color: #ffffff;
    }
    nav.main .inner{
        width: 100%;
    }
    nav.main ul{
        width: 100%;
        grid-template-columns: 145px 1fr;
        grid-template-rows: 40px 40px 40px;
    }
    nav.main ul li.about,
    nav.main ul li.portfolio,
    nav.main ul li.contact{
        grid-column: 2;
    }
    nav.main ul li.about a,
    nav.main ul li.portfolio a,
    nav.main ul li.contact a{
        line-height: 40px;
        text-align: right;
        padding-right: 20px;
    }
    nav.main ul li.about{
        grid-row: 1;
    }
    nav.main ul li.portfolio{
        grid-row: 2;
    }
    nav.main ul li.contact{
        grid-row: 3;
    }
    nav.main ul li.home{
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .title-text{
        padding: 20px 20px 40px;
        width: 100%;
    }
    .title-text p{
        width: 100%;
    }

    .portfolio-grid{
        width: 100%;
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 120px;
    }
    .portfolio-grid:before{
        display: none;
    }
    .portfolio-grid div.eco-tour {
        grid-row: auto;
        grid-column: auto;
    }
    .portfolio-grid div.gefion {
    }
    .portfolio-grid div.blackbx {
    }
    .portfolio-grid div.package {
    }
    .portfolio-grid div.balkan {
    }
    .portfolio-grid div.photo-manipulation {
        grid-row: auto;
        grid-column: auto;
    }
    .portfolio-grid div.kurczaki {
    }
    .portfolio-grid div.kotlownia {
    }
    .portfolio-grid div.rpz {
        grid-row: auto;
        grid-column: auto;
    }
    .portfolio-grid div.tere-fere {
    }
    .portfolio-grid div.wbs {
    }
    .portfolio-grid div.photography {
        grid-row: auto;
        grid-column: auto;
    }
    .portfolio-grid div.illustration{
    }
    .portfolio-grid div.print {
        grid-row: auto;
        grid-column: auto;
    }
    .portfolio-grid div.logos{
    }
    .portfolio-grid div.kwk {
    }
    .portfolio-grid div.web {
    }
    .portfolio-grid a {
        width: 100%;
        height: 120px;
        padding-top: 50px;
    }
    .portfolio-grid a:hover {

    }

    ul.timeline-links {
        width: 100%;
    }
    div.timeline div.base,
    div.timeline div.over {
        background: none;
        padding-bottom: 0px;
    }
    div.timeline .wide-container {
        width: 80%;
        max-width: 1400px;
        margin: 0 auto;
    }
    div.timeline div.text-version{
        display: block;
    }

    section.contact{
        display: none;
    }


}