@import "definitions.less";

.headerDisplacer{
    display: block;
    font-family: @highlightFont, @fallbackFont;
    font-size: 50px;
    color: #1D1D1B;
    -webkit-text-fill-color: #1D1D1B;
    font-weight: bold;
    letter-spacing: -0.83px;
    line-height: 61px;
    margin-bottom: -10px;
    text-transform: capitalize;
}

.cms{
    box-sizing: border-box;

    h1{
        .headerColor();
        font-family: @highlightFont, @fallbackFont;
        font-size: 95px;
        font-weight: 800;
        position: relative;
        margin-bottom: 30px;
        line-height: 1.2;

        &:first-of-type{
            margin-top: 0;
        }

        span{
            .headerDisplacer();
        }

        //Special case the home page as it's in markdown
        &#hello-there{
            text-transform: lowercase;

            &::before{
                content: "Well,";
                .headerDisplacer();
            }
        }
    }

    p{
        margin: 30px 0;
        line-height: 29px;
    }
}

.cms-alt {
    box-sizing: border-box;
    line-height: 1.6;

    h1 {
        font-family: @highlightFont, @fallbackFont;
        font-size: 30px;
        font-weight: 900;
        position: relative;
        margin-bottom: 30px;
        line-height: 1.2;
    }

    h2{
        font-family: @highlightFont, @fallbackFont;
        font-size: 18px;
        font-weight: bold;
    }

    strong{
        font-weight: bold;
    }

    em{
        font-style: italic;
    }

    p, ul{
        display: block;
        margin: 30px 0;
        font-size: 18px;
        max-width: 80%;
    }

    ul li{
        display: block;
        &:before{
            content: "—";
            padding-right: 10px;
        }
    }

    .examples{
        background-color: #F4F6F6;
        width: 80%;
    }

    .reveal{
        background-color: #F5EFF2;
        width: 960px;
        margin-bottom: 30px;
        margin-left: -@articleLeftMargin;
        margin-right: -@articleLeftMargin;
    }
}

.cms, .cms-alt{
    padding-left: 84px;
}