.cms-home {
    text-align: center;
}
.cms-home h2 {
    font-weight: bold;
    font-size: 22pt;
    margin-top: 1em;
}
.cms-home h2::before {
  display: block;
  content: " ";
  margin-top: -160px;
  height: 160px;
  visibility: hidden;
  pointer-events: none;
}
.cms-home h2.study {
    color: #ffe169;
}
.cms-home h2.internship {
    color: #38f1d3;
}
.cms-home h2.work {
    color: #791ce6;
}
.cms-home h3 {
    font-weight: bold;
    font-size: 18pt;
    margin-top: 1em;

}
.cms-home p {
    color: #838383;
    margin: 0;
    padding: 0;
}