<nav class="main">
    <ul class="container">
        <li class="home"><a title="Home" href="/">Home</a></li>
        <li class="bio"><a title="Biography" href="/bio.html">Bio</a></li>
        <li class="portfolio"><a title="Case Studies" href="/case-studies.html">Case Studies</a></li>
        <li class="other"><a title="Other Projects" href="/other-projects.html">Other Projects</a></li>
        <li class="contact"><a title="Let's Talk" href="/bio.html#lets-talk">Let's Talk</a></li>
    </ul>
</nav>
