<nav class="main fiddle">
    <div class="inner">
        <ul class="container">
            <li class="home"><a href="/">Home</a></li>
            <li class="about"><a href="/#about">About</a></li>
            <li class="portfolio"><a href="/#portfolio">Portfolio</a></li>
            <li class="contact"><a href="/#contact">Contact</a></li>
        </ul>
    </div>
</nav>
<nav class="main shown portfolio">
    <div class="inner">
        <ul class="container">
            <li class="home"><a href="/">Home</a></li>
            <li class="about"><a href="/#about">About</a></li>
            <li class="portfolio"><a href="/#portfolio">Portfolio</a></li>
            <li class="contact"><a href="/#contact">Contact</a></li>
        </ul>
    </div>
</nav>