<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" content="#6B00E9" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head %}
            <link href="/resources/css/styles.css?tick={{ GLOBALS['site'].tick() }}" rel="stylesheet" media="screen" />
        {% endblock %}

        {% block head_extra %}{% endblock %}

        <title>{{ DATA.get("page_title") }}</title>
    </head>
    <body>
        <div id="main-wrapper">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>

