<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
        <link href="/resources/css/reset.css" rel="stylesheet" media="all"/>
        <link href="/resources/css/print.css"  rel="stylesheet" media="print" />

        {% block head %}
            <script type="text/javascript" data-main="/resources/javascript/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
            <link href="/resources/css/styles.css" rel="stylesheet" media="screen" />
        {% endblock %}

        <title>{{ page_title }}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>

