{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" data-main="/resources/javascript/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    <link href="/resources/css/styles.css" rel="stylesheet" media="screen" />
{% endblock %}
{% block body %}
    <header class="intro">
        <div class="intro-inner">
            <div class="container">
                <div id="about" class="inner">
                    {% include "snippets/nav.html" %}
                    <div class="title-text">
                        <h1><span>Hi,</span> my name is Aga</h1>

                        <p>I am an experienced graphic designer. I believe that I have a
                        natural talent for designing functional, intuitive and visually
                        engaging interfaces; as well as improving existing projects to
                        meet changing needs and standards</p>

                        <p>I am a very open social and friendly person and I like to surround
                        myself with creative and positive people. I enjoy challenges and
                        thrive on achieving my goals.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="experience">
        <div class="wide-container">
            <h1 id="experience">Experience</h1>
            <ul class="timeline-links">
                <li><a data-target="1" class="study" href="#timeline-study">Study</a></li>
                <li><a data-target="2" class="internship" href="#timeline-internship">Internship</a></li>
                <li><a data-target="3" class="work" href="#timeline-work">Work</a></li>
            </ul>
            <div class="timeline">
                <div class="inner">
                    <div class="base"></div>
                    <div class="over off"></div>
                </div>
                <div class="text-version cms-home">
                    <h2 id="timeline-study" class="study">Study</h2>
                    <h3>Post-Secondary <br />College Promocja (2009&ndash;2011)</h3>
                    <p>Technician, organisation <br />of advertising activities: <br />graphic design, interior design</p>
                    <h3>University College <br />of Northern Denmark (2012&ndash;2014)</h3>
                    <p>Design, technology &amp; business<br /> (graphics)</p>

                    <h2 id="timeline-internship" class="internship">Internship</h2>
                    <h3>Dlalejdis.pl (2010)</h3>
                    <p>Graphic designer,<br /> Event organiser</p>

                    <h3>Eco-Tour (2011)</h3>
                    <p>Graphic designer</p>

                    <h3>BystraVision (2011)</h3>
                    <p>Graphic designer</p>

                    <h3>MAMF (2014)</h3>
                    <p>Graphic designer</p>

                    <h2 id="timeline-work" class="work">Work</h2>
                    <h3>BystraVision (2011&ndash;2012)</h3>
                    <p>Graphic designer</p>

                    <h3>Freelancer (2012&ndash;2015)</h3>

                    <h3>13piętro (2014)</h3>
                    <p>Graphic designer</p>

                    <h3>IPCON (2014&ndash;2015)</h3>
                    <p>Graphic designer</p>

                    <h3>Tandem Digital (2015)</h3>
                    <p>Graphic designer</p>

                    <h3>deltaDNA (2015&ndash;2017)</h3>
                    <p>Web/graphic designer</p>

                    <h3>BLACKBX (2017-)</h3>
                    <p>Designer</p>
                </div>
            </div>
        </div>
    </section>

    <section class="skillset">
        <div class="container">
            <h1 id="skillset">Skillset</h1>
            <table class="skills">
                <tbody>
                    <tr>
                        <th class="icon-title">Creative cloud:</th>
                        <td>
                            <span class="photoshop" title="Photoshop">Photoshop</span><span class="sep">,</span>
                            <span class="illustrator" title="Illustrator">Illustrator</span><span class="sep">,</span>
                            <span class="indesign" title="InDesign">InDesign</span><span class="sep">,</span>
                            <span class="experience-design" title="Experience Design">Experience Design</span><span class="sep">,</span>
                            <span class="dreamweaver" title="Dreamweaver">Dreamweaver</span><span class="sep">,</span>
                            <span class="muse" title="Muse">Muse</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Additional:</th>
                        <td>Sketch, Craft/Invision, UXPin, HTML, CSS, <br />Wordpress, Hubspot</td>
                    </tr>
                    <tr>
                        <th>Languages:</th>
                        <td>Polish, English</td>
                    </tr>
                    <tr>
                        <th>Interests:</th>
                        <td>Design, Architecture, Photography, <br />Cooking, Comic Books, Video Games</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="portfolio">
        <div class="container">
            <h1 id="portfolio">Portfolio</h1>
            <table class="portfolio-grid">
                <tbody>
                    <tr>
                        <td rowspan="2" class="eco-tour">
                            <p class="title">Eco-Tour Travel Agency</p>
                            <a class="eco-tour" href="/portfolio/eco-tour.html">ECO-TOUR</a>
                        </td>
                        <td class="blackbx">
                            <p class="title">BLACK<strong>BX</strong></p>
                            <a class="blackbx" href="/portfolio/blackbx.html">BLACK<strong>BX</strong></a>
                        </td>
                        <td class="kotlownia">
                            <p class="title">Kotłownia Revitalisation</p>
                            <a class="kotlownia" href="/portfolio/kotlownia.html">Kotłownia</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="rpz">
                            <p class="title">Exhibition for Energetab 2014</p>
                            <a class="rpz" href="/portfolio/rpz.html">RPZ</a>
                        </td>
                    </tr>
                    <tr>
                         <td colspan="2" class="photo-manipulation">
                            <p class="title">Photo Manipulation</p>
                            <a class="photo-manipulation" href="/portfolio/photo-manipulation.html">Photo Manipulations</a>
                        </td>
                        <td class="tere-fere">
                            <p class="title">Tere-Fere</p>
                            <a class="tere-fere" href="/portfolio/terefere.html">Tere-Fere</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="balkan">
                            <p class="title">Balkan Trip 2014 Branding</p>
                            <a class="balkan" href="/portfolio/balkan-trip.html">Balkan Trip</a>
                        </td>
                        <td class="kurczaki">
                            <p class="title">Kurczaki by Kubus Application Interface Pitch</p>
                            <a class="kurczaki" href="/portfolio/kubus.html">Kurczaki by Kubus</a>
                        </td>
                         <td class="package">
                            <p class="title">Packaging project for Aloelive</p>
                            <a class="aloe-live" href="/portfolio/package.html">Packaging</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="wbs">
                            <p class="title">Water By Sun</p>
                            <a class="wbs" href="/portfolio/waterbysun.html">Water By Sun</a>
                        </td>
                        <td colspan="2" class="photography">
                            <p class="title">Photography</p>
                            <a class="photography" href="/portfolio/photography.html">Photography</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="illustration">
                            <p class="title">Illustration</p>
                            <a class="illustration" href="/portfolio/illustration.html">Illustration</a>
                        </td>
                        <td rowspan="2" class="print">
                            <p class="title">Print</p>
                            <a class="print" href="/portfolio/print.html">Print</a>
                        </td>
                        <td class="web">
                            <p class="title">Web Design</p>
                            <a class="web" href="/portfolio/web.html">Web Design</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="logos">
                            <p class="title">Logos</p>
                            <a class="logos" href="/portfolio/logos.html">Logos</a>
                        </td>
                        <td class="kwk">
                            <p class="title">Sympozjum KWK</p>
                            <a class="kwk" href="/portfolio/kwk.html">Sympozjum KWK</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <h1 id="contact">Contact</h1>
            <p class="section-header">Message me through email or social media</p>
            <ul class="contact">
                <li class="email"><a class="email" href='ma&#105;&#108;&#116;o&#58;a%67&#37;6Ei%65&#115;zk&#97;&#64;je%72ze&#119;&#115;ka&#46;p%6C'>agnieszk&#97;&#64;&#106;&#101;&#114;zews&#107;a&#46;&#112;l</a></li>
                <li class="social be"><a href="https://www.behance.net/erissek">Behance</a></li>
                <li class="social linkedin"><a href="https://uk.linkedin.com/in/agnieszka-jerzewska-5bab1457">LinkedIn</a></li>
                <li class="social insta"><a href="https://www.instagram.com/aj.eris">Instagram</a></li>
            </ul>
        </div>
    </section>
{% endblock %}