{% extends "page.html" %}

{% block head_extra %}
    <script type="text/javascript" data-main="/resources/javascript/portfolio/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
{% endblock %}

{% block page_content %}
    <section class="project-details">
        <div class="cms-alt">{{ content|safe }}</div>

        <section class="gallery-display">
            {% include "snippets/photo-controls.html" %}

            <ul class="galleria shots">
                {% for item in JERZEWSKA.get_portfolio_images(DATA) %}
                    {% if "," in item %}
                        {% set path, color = item.split(",") %}
                    {% else %}
                        {% set path, color = item, "" %}
                    {% endif %}
                    <li class="{% if loop.index == 1 %}showing{% endif %}">
                        <img data-loop="{{ loop.index }}" data-color="{{ color }}" src="/resources/img/portfolio/full/{{ path }}" />
                    </li>
                {% endfor %}
            </ul>

            {% include "snippets/photo-controls.html" %}
        </section>
    </section>
{% endblock %}