@import "../definitions.less";

.design-experience-grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "pro intern"
                         "pro edu";

    ol {
        li{
            display: block;
            margin: 0;
            padding: 0 0 0 20px;
            border-left: 1px solid #EDECED;
            position: relative;

            &:before{
                content: "o";
                color: @galleryColorPrimary;
                display: block;
                height: 10px;
                width: 10px;
                position: absolute;
                top: 0;
                left: -5px;
                z-index: 10;
            }

            li {
                border: 0;
                padding: 0;

                &:before{
                    content: "";
                    z-index: 0;
                }
            }
        }
        &::before{
            box-sizing: border-box;
            display: inline-block;
            padding: 0 10px;
            text-transform: uppercase;
            border: 1px solid;
            border-radius: 10px;
            margin-bottom: 10px;
            line-height: 20px;
            height: 20px;
            font-size: 10px;
        }

        .location{
            font-family: @highlightFont, @fallbackFont;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .date{
            color: @galleryColorPrimary;
            font-family: @highlightFont, @fallbackFont;
            font-size: 12px;
            margin-bottom: 10px;
        }
        .title {
            font-family: @bodyFont, @fallbackFont;
            margin-bottom: 20px;

            &::after{
                content: "⌄";
            }
        }
        .courses{
            font-family: @bodyFont, @fallbackFont;
            margin-bottom: 20px;
        }
        .description{
            height: 0;
            display: none;
        }
    }

    ol.professional{
        &::before{
            content: 'Professional';
            color: @galleryColorPrimary;
        }
        grid-area: pro;
    }
    ol.internship{
        &::before{
            content: 'Internship';
            color: @galleryColorTertiary;
        }
        grid-area: intern;
    }
    ol.education{
        &::before{
            content: 'Education';
            color: @galleryColorSecondary;
        }
        grid-area: edu;
    }
}