@import "../definitions.less";

section.design-experience-grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "pro intern"
                         "pro edu";

    ol{
        li{
            display: block;
            margin: 0;
            padding: 0 0 0 20px;
            border-left: 1px solid #EDECED;
            position: relative;

            &::before{
                content: " ";
                background-size: 16px auto;
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
                height: 16px;
                line-height: 16px;
                text-align: center;
                width: 16px;
                position: absolute;
                top: 0;
                left: -8px;
                z-index: 10;
            }

            li{
                &::before{
                    display: none;
                }
                border: 0;
                padding: 0;
            }
        }

        &::before{
            box-sizing: border-box;
            display: inline-block;
            padding: 0 10px;
            text-transform: uppercase;
            border: 1px solid;
            border-radius: 10px;
            margin-bottom: 10px;
            line-height: 20px;
            height: 20px;
            font-size: 10px;
        }

        .location{
            font-family: @highlightFont, @fallbackFont;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .date{
            color: @galleryColorPrimary;
            font-family: @highlightFont, @fallbackFont;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .title{
            font-size: 16px;
            font-family: @bodyFont, @fallbackFont;
            margin-bottom: 20px;

            &::after{
                content: "⌄";
            }
        }

        .courses{
            font-size: 16px;
            font-family: @bodyFont, @fallbackFont;
            margin-bottom: 20px;
        }

        .description{
            height: 0;
            display: none;
        }
    }

    ol.professional{
        &::before{
            content: 'Professional';
            color: @galleryColorPrimary;
        }
        li::before{
            background-image: url("/resources/img/furniture/skill-bullets/professional.svg");
        }
        grid-area: pro;
    }

    ol.internship{
        &::before{
            content: 'Internship';
            color: @galleryColorTertiary;
        }
        li::before{
            background-image: url("/resources/img/furniture/skill-bullets/intern.svg");
        }
        grid-area: intern;
    }

    ol.education{
        &::before{
            content: 'Education';
            color: @galleryColorSecondary;
        }
        li::before{
            background-image: url("/resources/img/furniture/skill-bullets/education.svg");
        }
        grid-area: edu;
    }
}

section.contact{
    padding: 50px 0 30px;
    h1{
        grid-area: alpha;
    }

    form{
        grid-area: beta;
    }
}