/* Case Studies */
.top-row{
    a{
        padding-top: 350px;
    }
}

.middle-row{
    a{
        padding-top: 200px;
    }
}

.bottom-row{
    a{
        padding-top: 50px;
    }
}

.case-studies-grid{
    .gallery-grid();
    margin-right: 160px;
    grid-template-columns: 380px 380px;
    grid-template-rows: 530px 400px 240px;
    grid-template-areas: "marketing     gdpr     " "interior      eco      " "rebrand       rebrand  ";

    div{
        background-color: @galleryColorSecondary;
        div{
            margin-top: 30px;
            .arrow(30px, 6px, 2px, 8px, 2px, 10px);
            .label {
                text-align: left !important;
                text-transform: uppercase;
            }
            .a{
                left: 170px;
            }

            .a, .a:before, .a:after{
                background-color: #000;
            }
        }

        &.marketing-automation{
            grid-area: marketing;
            .top-row();
        }

        &.gdpr-friendly-control-site{
            grid-area: gdpr;
            .top-row();
        }

        &.interior-revitalisation-catalogue{
            grid-area: interior;
            .middle-row();
        }

        &.eco-friendly-branding{
            grid-area: eco;
            .middle-row();
        }

        &.black-bx-rebrand{
            grid-area: rebrand;
            .bottom-row();
        }
    }

    a{
        color: @bodyTextColor;
        text-indent: 0;
    }
}