@import "../definitions.less";

@arrowSize: 14px;
@arrowWidth: 2px;

.gallery-display{
    .shots{
        li{
            display: none;
            img{
                width: 100%;
                height: auto;
            }
            &.selected{
                display: block;
            }
        }
    }
}

.gallery-navigation{
    .nav-links{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: "previous switcher next";
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        margin: 70px 0 50px;

        div{
            white-space: nowrap;

            a{
                display: block;
                text-decoration: none;
            }

            &.previous{
                grid-area: previous;
                .arrow(@arrowSize, @arrowWidth, left);
            }
            &.switcher{
                grid-area: switcher;
            }
            &.next{
                grid-area: next;
                .arrow(@arrowSize, @arrowWidth, right);
            }

            .photo-links{
                display: flex;

                div{
                    &.previous-photo{
                        .arrow(@arrowSize, @arrowWidth, left);
                    }
                    &.next-photo{
                        .arrow(@arrowSize, @arrowWidth, right);
                    }
                    &.monitor{
                        align-items: center;
                        justify-content: center;
                        padding: 5px 20px;
                    }
                }
            }
        }
    }
}

