@import "../definitions.less";

div.home{
    background: transparent url(/resources/img/home/home-img.png) bottom right no-repeat;
    background-size: 484px auto;

    div:first-child{
        min-height: 500px;
        position: relative;
    }

    &:hover div:first-child{
        background-color: transparent;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 484px auto;

        &.top.right{
            background-image: url(/resources/img/home/home-hover-top-right.png);
        }

        &.bottom.right{
            background-image: url(/resources/img/home/home-hover-bottom-right.png);
        }

        &.bottom.left{
            background-image: url(/resources/img/home/home-hover-bottom-left.png);
        }

        &.middle{
            background-image: url(/resources/img/home/home-hover-middle.png);
        }
    }

    a.cs-link{
        box-sizing: border-box;
        color: #fff;
        font-family: @highlightFont, @fallbackFont;
        font-size: 14px;
        line-height: 18px;
        padding: 20px;
        position: absolute;
        opacity: 0;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        overflow: hidden;
        transition: opacity 0.3s 0.05s;

        &:hover{
            opacity: 1;
            transition: opacity 0.3s 0.05s;
        }

        &.bottom.right{
            color: @bodyTextColor;
            height: 182px;
            width: 182px;
            border-radius: 91px;
            bottom: 41px;
            padding-top: 82px;
            right: 0;

            div.inner{
                .simpleArrow(30px, 7px, 3px, 2px, 90deg, 25px, #000);
            }
        }

        &.bottom.left{
            height: 285px;
            width: 285px;
            border-radius: 142.4px;
            bottom: 0;
            padding-top: 133px;
            right: 200px;

            div.inner{
                .simpleArrow(30px, 7px, 3px, 2px, 90deg, 25px, #fff);
            }
        }

        &.middle{
            height: 79px;
            width: 79px;
            border-radius: 39.5px;
            bottom: 242px;
            right: 10px;

            span.label{
                display: none;
            }

            div.inner{
                .simpleArrow(30px, 7px, 3px, 2px, 90deg, 20px, #fff);
            }
        }

        &.top.right{
            color: @bodyTextColor;
            height: 185px;
            width: 185px;
            border-radius: 92.5px;
            bottom: 254px;
            right: 92px;
            padding-top: 83px;

            div.inner{
                .simpleArrow(30px, 7px, 3px, 2px, 90deg, 25px, #000);
            }
        }
    }

    p{
        max-width: 50%;
    }

    .follow-up{
        p{
            font-size: 12px;
            line-height: normal;
            margin-bottom: 0;
        }

        ul{
            margin-top: 10px;
        }

        li a{
            font-size: 14px;
            display: block;
            padding-bottom: 10px;
            position: relative;
            .linkText();
            .arrow(30px, 6px, 2px, 6px, 2px, 20px);

            .label{
                text-align: left !important;
                text-transform: uppercase;
            }

            &.gallery .a{
                left: 180px;
            }

            &.process .a{
                left: 250px;
            }

            .a, .a:before, .a:after{
                background-color: #000;
            }
        }
    }
}