/* porfolio */
@import "../definitions.less";

.primary{
    a:hover {
        background-color: @galleryColorPrimary;
        color: @galleryColorPrimaryText;
    }
}

.secondary{
    a:hover {
        background-color: @galleryColorSecondary;
        color: @galleryColorSecondaryText;
    }
}

.tertiary{
    a:hover {
        background-color: @galleryColorTertiary;
        color: @galleryColorTertiaryText;
    }
}

.portfolio-grid {
    .gallery-grid();
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: repeat(5, 240px);
    grid-template-areas: "kurczaki     aloelive            oodls"
                         "kurczaki     photomanipulation   photomanipulation"
                         "logos        waterbysun          illustration"
                         "rpz          rpz                 webdesign"
                         "photography  kwk                 webdesign";

    &:before{
        padding-bottom: 100%;
    }

    div {
        &.oodls {
            background-image: url(../img/portfolio/grid/photomanip_min.png);
            grid-area: oodls;
            .primary();
        }

        &.photo-manipulation {
            background-image: url(../img/portfolio/grid/photomanip_min.png);
            grid-area: photomanipulation;
            .secondary();
        }

        &.kurczaki {
            background-image: url(../img/portfolio/grid/kurczaki_min.png);
            grid-area: kurczaki;
            .secondary();
        }

        &.aloe-live {
            background-image: url(../img/portfolio/grid/package_min.png);
            grid-area: aloelive;
            .tertiary();
        }

        &.rpz {
            background-image: url(../img/portfolio/grid/rpz_min.png);
            grid-area: rpz;
            .secondary();
        }

        &.wbs {
            background-image: url(../img/portfolio/grid/wbs_min.png);
            grid-area: waterbysun;
            .tertiary();
        }

        &.photography {
            background-image: url(../img/portfolio/grid/photo_min.png);
            grid-area: photography;
            .tertiary();
        }

        &.illustration {
            background-image: url(../img/portfolio/grid/illustrations_min.png);
            grid-area: illustration;
            .primary();
        }

        &.print {
            background-image: url(../img/portfolio/grid/poster_min.png);
            grid-area: print;
        }

        &.logos {
            background-image: url(../img/portfolio/grid/logos_min.png);
            grid-area: logos;
            .primary();
        }

        &.kwk {
            background-image: url(../img/portfolio/grid/kwk_min.png);
            grid-area: kwk;
            .primary();
        }

        &.web {
            background-image: url(../img/portfolio/grid/web_min.png);
            grid-area: webdesign;
            .tertiary();
        }
    }

    a {
        &::after{
            content: "See project";
        }
    }
}